.contacts-social__politic {
  text-decoration: underline;
  color: #949494;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  transform: color .2s ease;
}

.contacts-social__politic:hover {
  transform: none;
  color: white;

}
