.project__card_number_1 {
  border-radius: 6px;
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%), url(../../../../images/portfolio1.png);
  background-position: center;
}
